asgiref==3.11.0
Django==6.0.1
django-cors-headers==4.9.0
django-environ==0.12.0
djangorestframework==3.16.1
psycopg==3.3.2
psycopg-binary==3.3.2
python-decouple==3.8
sqlparse==0.5.5
tzdata==2025.3

# Authentication
django-allauth==0.57.0
dj-rest-auth==5.0.2

# Filtering
django-filter==24.3
Pillow==12.1.0

# Firebase for push notifications
firebase-admin==6.4.0

# PDF generation
reportlab==4.1.0
